---
apiVersion: tekton.dev/v1alpha1
kind: Task
metadata:
  name: maven-workspace
spec:
  workspaces:
  - name: maven-source
    description: The folder where all the building happens
    mountPath: /workspace/source
  inputs:
    params:
    - name: GOALS
      description: The Maven goals to run
      type: array
      default: ["package"]
    - name: MAVEN_SETTINGS_CONFIGMAP
      description: The configmap containing Maven settings.xml
      type: string
      default: maven-settings
  steps:
    - name: mvn
      image: quay.io/mhildenb/jboss-webserver31-tomcat8-openshift-base:1.0
      workingDir: $(workspaces.maven-source.path)
      command: ["./mvnw"]
      args:
        - -Dmaven.repo.local=$(workspaces.maven-source.path)/artefacts
        - -s
        - /var/config/settings.xml
        - "$(inputs.params.GOALS)"
      volumeMounts:
        - name: maven-settings
          mountPath: /var/config
  volumes:
    - name: maven-settings
      configMap:
        name: $(inputs.params.MAVEN_SETTINGS_CONFIGMAP)